## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Mataura,NZ,68.49,broken clouds,-46.1927,168.8643,Ellie's Villa
1,3,Antalaha,MG,76.53,overcast clouds,-14.9003,50.2788,Hotel Vitasoa
2,7,Encruzilhada,BR,68.14,overcast clouds,-15.5314,-40.9094,Hotel e Restaurante Rio Pardo
3,8,Hithadhoo,MV,82.00,scattered clouds,-0.6000,73.0833,Scoop Guest House
4,9,Kapaa,US,77.32,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 4b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df.City == "Casa Nova", :]
vacation_end = vacation_df.loc[vacation_df.City == "Casa Nova", :]
vacation_stop1 = vacation_df.loc[vacation_df.City == "Belem De Sao Francisco", :]
vacation_stop2 = vacation_df.loc[vacation_df.City =="Carira", :] 
vacation_stop3 = vacation_df.loc[vacation_df.City =="Baixa Grande", :]

In [17]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
# https://stackoverflow.com/questions/45285244/convert-a-dataframe-to-list-of-tuples
# https://www.stackvidhya.com/how-to-convert-pandas-dataframe-to-numpy-array/
start = tuple(vacation_start[["Lat", "Lng"]].to_numpy().tolist()[0])
end = tuple(vacation_end[["Lat", "Lng"]].to_numpy().tolist()[0])
stop1 = tuple(vacation_stop1[["Lat","Lng"]].to_numpy().tolist()[0])
stop2 = tuple(vacation_stop2[["Lat", "Lng"]].to_numpy().tolist()[0])
stop3 = tuple(vacation_stop3[["Lat", "Lng"]].to_numpy().tolist()[0])

In [18]:
print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

(-9.4167, -41.1333)
(-9.4167, -41.1333)
(-8.7539, -38.9658)
(-10.3608, -37.7011)
(-11.9597, -40.1681)

In [19]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
road_trip = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='BICYCLING')
fig.add_layer(road_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1, vacation_stop2, vacation_stop3 ],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,78,Casa Nova,BR,73.38,light rain,-9.4167,-41.1333,Pousada e Restaurante Dona Xinha
1,642,Belem De Sao Francisco,BR,77.20,moderate rain,-8.7539,-38.9658,Village Hotel
2,171,Carira,BR,71.08,overcast clouds,-10.3608,-37.7011,Praca dos motorista
3,113,Baixa Grande,BR,70.00,overcast clouds,-11.9597,-40.1681,Pousada Requinte

In [21]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))